@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 5px 116px;
  background-color: #f9f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

ul {
  list-style-type: none;
  overflow: hidden;

  display: flex;
}
/* 
li {
  float: left;
} */

li a {
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}

.active {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.5px;
}

.logo {
  justify-self: flex-start;
  list-style-type: none;
}

.hire-me {
  display: flex;
  align-items: center;
  background: #5e3bee;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: white;
}

.hire-me img {
  margin-left: 5px;
}

/* stage 2 */

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fc;
  padding: 20px 117px;
}

.section-hero-wrapper {
  max-width: 1200px;
  display: flex;
  width: 100%;
}

.name-div,
.profile-div {
  flex: 1;
}

.name-div {
  height: 100%;
  margin: auto;
}

.gbemi-odukoya {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #5e3bee;
}

.hello-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #333333;
}

.contact-me {
  color: #ffffff;
  background: #5e3bee;
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 204px;
  height: 70px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  padding-left: 39px;
}

.contact-me img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.btn-cv {
  background: transparent;
  border: none;
  border-radius: 50px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  padding-left: 39px;

  display: flex;
  align-items: center;
}

.btn-cv img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-cv {
  display: flex;
}

/* section experience */
.section-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 116px 116px;
}

.section-experience-wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.experience h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #000000;
  margin-bottom: 0%;
}

.experience p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
}

/* section service */
.section-service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 116px;
  padding-bottom: 140px;
}

.section-service-wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  width: 100%;
}

.service-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5e3bee;
  width: 85px;
  height: 26px;
  letter-spacing: 1.5px;
  margin: ;
}

.what-i-do {
  width: 639px;
  height: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.005em;
  color: #000000;
  margin: auto;
}

.lorem-1 {
  letter-spacing: 0.005em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
  padding-bottom: 64px;
  width: 600px;
  height: 58px;
}

.diff-services {
  display: flex;
  justify-content: space-between;
}

.front-end,
.back-end,
.dev-ops {
  background: #f9f9fc;
  box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding-left: 34px;
  padding-right: 35px;
  padding-bottom: 52px;
}
.front-end,
.back-end {
  margin-right: 40px;
}

.diff-services h5 {
  width: 307px;
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0%;
  margin-top: 30px;
}

.servicetype-text {
  width: 307px;
  height: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
}
