@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 5px 116px;
  background-color: #f9f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

ul {
  list-style-type: none;
  overflow: hidden;

  display: flex;
}
/* 
li {
  float: left;
} */

li a {
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}

.active {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.5px;
}

.logo {
  justify-self: flex-start;
  list-style-type: none;
}

.hire-me {
  display: flex;
  align-items: center;
  background: #5e3bee;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: white;
}

.hire-me img {
  margin-left: 5px;
}

/* stage 2 */

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fc;
  padding: 20px 117px;
}

.section-hero-wrapper {
  max-width: 1200px;
  display: flex;
  width: 100%;
}

.name-div,
.profile-div {
  flex: 1;
}

.name-div {
  height: 100%;
  margin: auto;
}

.gbemi-odukoya {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #5e3bee;
}

.hello-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #333333;
}

.contact-me {
  color: #ffffff;
  background: #5e3bee;
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 204px;
  height: 70px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  padding-left: 39px;
}

.contact-me img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.btn-cv {
  background: transparent;
  border: none;
  border-radius: 50px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  padding-left: 39px;

  display: flex;
  align-items: center;
}

.btn-cv img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-cv {
  display: flex;
}

/* section experience */
.section-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 116px 116px;
}

.section-experience-wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.experience h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #000000;
  margin-bottom: 0%;
}

.experience p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
}

/* section service */
.section-service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 116px;
  padding-bottom: 140px;
}

.section-service-wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  width: 100%;
}

.service-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5e3bee;
  width: 85px;
  height: 26px;
  letter-spacing: 1.5px;
  margin: ;
}

.what-i-do {
  width: 639px;
  height: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.005em;
  color: #000000;
  margin: auto;
}

.lorem-1 {
  letter-spacing: 0.005em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
  padding-bottom: 64px;
  width: 600px;
  height: 58px;
}

.diff-services {
  display: flex;
  justify-content: space-between;
}

.front-end,
.back-end,
.dev-ops {
  background: #f9f9fc;
  box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding-left: 34px;
  padding-right: 35px;
  padding-bottom: 52px;
}
.front-end,
.back-end {
  margin-right: 40px;
}

.diff-services h5 {
  width: 307px;
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0%;
  margin-top: 30px;
}

.servicetype-text {
  width: 307px;
  height: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
}

/*section about*/
.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fc;
  padding-bottom: 113px;
  padding-top: 100px;
}

.section-about-wrapper {
  max-width: 1200px;
  display: flex;
  width: 100%;
}

.section-about-1,
.section-about-2 {
  flex: 1;
}

.section-about-2 {
  position: relative;
}

.web-dev-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #5e3bee;
  width: 481px;
  height: 26px;
}

.web-dev-text {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 482px;
  height: 326px;
  color: #333333;
  margin: 0px;
}

.lorem-about {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  width: 584px;
  height: 67px;
  padding-bottom: 30px;
  color: #333333;
  padding-bottom: 30px;
}

.section-about button {
}

.polygon2 {
  position: absolute;
  left: 271px;
}

.polygon3 {
  position: absolute;
  right: 400px;
  bottom: -10px;
}

/* section clients */
.section-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 127px;
  padding-bottom: 129px;
  padding-left: 145px;
  padding-right: 150px;
}

.section-clients-wrapper {
  max-width: 1200px;
  display: flex;
  width: 100%;
}

.clients-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 147px;
  padding-bottom: 136px;
}

.colors2 {
  position: absolute;
  height: 460px;
  width: 100%;
  background-color: #f9f9fc;
  z-index: 1;
  top: 0;
}

.section-testimony-wrapper {
  max-width: 1200px;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.testimony-polygon {
  position: absolute;
  z-index: -1;
  left: calc(50% - 45px);
  top: 115px;
}

.testimony-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimony-name {
  height: 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #5e3bee;
  margin: 0px 0px;
  padding-bottom: 12px;
}

.what-clients-say {
  height: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.005em;
  color: #000000;
  padding: 0px;
  margin: 0px 0px;
}

.lorem-testimony {
  height: 58px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
  margin-bottom: 57px;
  max-width: 600px;
  text-align: center;
}

.testimony-reviews {
  display: flex;
  justify-content: space-between;
}

.review1,
.review2 {
  background: #ffffff;
  box-shadow: 27px 37px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  height: 369px;
  padding-top: 45px;
  height: 369px;
  padding-left: 42px;
}

.review1 {
  margin-right: 20px;
}

.review2 {
  margin-left: 21px;
}

.lorem-review1,
.lorem-review2 {
  height: 134px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #000000;
  padding-right: 58px;
  display: flex;
}

.rating-png {
  display: flex;
}

.review-downpart {
  display: flex;
  padding-top: 27px;
  max-height: 64px;
  align-items: center;
}

.david-css {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
}
.david-gueta1,
.david-gueta2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0px 0px;
}

.review-web-dev1,
.review-web-dev2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px 0px;
}

.review-frame {
  display: flex;
  padding-left: 252px;
}

/* section cta */
.section-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 126px;
  background: #f9f9fc;
  border-radius: 24px;
}

.section-cta-wrapper {
  max-width: 1200px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.ellipse-13 {
  position: absolute;
  bottom: -32px;
  left: 99px;
}

.ellipse-14 {
  position: absolute;
  left: 400px;
  top: -55px;
}

.ellipse-15 {
  position: absolute;
  z-index: -1;
  top: 112px;
  left: 464px;
}

.ellipse-16 {
  position: absolute;
  right: 150px;
  top: -58px;
}

.mask-group2 {
  position: absolute;
  right: 0px;
  z-index: -1;
}

.section-cta-text {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #333333;
  margin: 0px 0px;
  margin-bottom: 19px;
}

.cta-contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5e3bee;
  border-radius: 50px;
  width: 204px;
  height: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #ffffff;
  border: none;
}

.cta-contact-me img {
  margin-right: 10px;
}

/* section portfolio */
.section-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 132px;
  padding-top: 58px;
  position: relative;
}

.section-portfolio-wrapper {
  max-width: 1200px;
  align-items: center;
  width: 100%;
}

.portfolio-polygon {
  position: absolute;
  z-index: -1;
  top: 20px;
}

.portfolio-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #5e3bee;
  height: 26px;
  margin: 0px;
  align-self: flex-end;
}

.sw-lorem {
  display: flex;
  justify-content: space-between;
}

.selected-workst {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.005em;
  color: #000000;
  height: 56px;
  margin: 0px;
  width: 50%;
  margin: 0;
  align-self: flex-end;
}

.lorem-portfolio {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: rgba(18, 18, 18, 0.7);
  width: 50%;
  margin: 0px;
}

.port-part2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-bg {
  height: 389px;
  background: #c4c4c4;
  border-radius: 24px 24px 0px 0px;
}

.sw-box {
  width: calc(50% - 20px);
  background: #f9f9fc;
  box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin-top: 45px;
}

.active2 {
  padding-left: 53px;
  padding-top: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0px;
}

.ui-text {
  padding-left: 53px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px;
  padding-bottom: 46px;
}
